# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @vijayg10 @geka-evk
# will be requested for review when someone opens a pull request.

*  @elnyry-sam-k @bushjames @vijayg10 @geka-evk @shashi165 @gibaros @kleyow @kalinkrustev
